* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-white: #FFFFFF;
    --color-primary: #f0b70f;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: rgb(249,250,252);
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
    --color-offwhite-1: rgb(248,247,242);
    --br-1: .5rem;
    --br-grey-1: rgb(230,231,235) 1px solid;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.1);
    --box-shadow-2: 0 3px 15px rgba(0,0,0,.05);
    --gap-sm: 1.15rem;
    --gap-md: 2.3rem;
    --gap-lg: 4.6rem;
}

body {
    background-color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-grey-4);
    transition: all 0.4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    /*min-height: 100vh;*/
    color: var(--color-grey-4);
    /*overflow: hidden;*/
    padding: 0 !important;
}

header .carousel-container {
    margin-top: var(--gap-lg);
}

section {
    width: 100%;
    padding: 8.5rem 4.6rem;
    background-color: var(--color-white);
}

.container {
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.work {
    background: var(--color-grey-3);
}

.active {
    display: block;
    transform: translateY(0) scaleY(1);
    animation: appear .5s ease-in-out;
}
@keyframes appear {
    0% {
        transform: translateY(-100%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

nav {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color-white);
    border-bottom: 1px solid rgb(202,202,213);
    position: sticky;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-items .logo img {
    max-width: 100px;
    margin: 1.3rem 1rem 1rem 1rem;
}

.nav-items .controls {
    top: 0;
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-around;*/

    /*width: 100%;*/
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    /*background-color: var(--color-grey-4);*/
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 0;
    /*box-shadow: var(--box-shadow-1);*/
}

.controls .control i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
    margin-left: .75rem;
}

.controls .active-btn {
    /*background-color: var(--color-secondary);*/
    /*color: var(--color-primary);*/
    font-weight: bold;
    /*border: var(--color-secondary) solid 1px;*/
    /*transition: all 0.4s ease-in-out;*/
}
.controls .active-btn i {
    color: inherit;
}

.theme-btn {
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}
.theme-btn:active {
    transform: translateY(-3px);
}
.theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

/*Header-content*/
.header-content {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin: 5rem;
    text-align: center;
}

.profile-photo {
    border-radius: 100%;
    width: 225px;
    height: 225px;
    margin: var(--gap-md) 0;
    background-color: var(--color-black);
    transition: all 0.4s ease-in-out;

}
.profile-photo img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    filter: grayscale(10%);
}
.header-content .left-header .image img:hover {
    filter: grayscale(0);
}
.header-content .tagline-container {
    /*margin: 3rem 5rem;*/
    /*max-width: 450px;*/
    /*text-align: center;*/
}
.header-content .tagline-container .tagline {
    font-size: 3rem;
}
.header-content .tagline-container .tagline .fa-quote-left,
.header-content .tagline-container .tagline .fa-quote-right
{
    font-size: 1.3rem;
    transform: translateY(-1.3rem);
    font-style: italic;
    opacity: .9;
}
.header-content .tagline-container i {
    margin-right: .5rem;
}
.header-content .tagline-container p {
    margin-top: 1rem;
}
.header-content .right-header .tagline span {
    color: var(--color-primary);
}
.header-content .right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
}

/* Work */
.work .disclaimer {
    max-width: 65vw;
    opacity: 0.7;
}
.work .item {
    width: 100%;
    border-radius: var(--br-1);
    background: var(--color-white);
    box-shadow: var(--box-shadow-2);
    margin-top: var(--gap-md);
}

.work .item .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--gap-md);
}

.work .item .details-container {
    padding: 0 var(--gap-md);
}

.work .item .details-container h3 {
    margin-top: var(--gap-sm);
}

.cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--gap-md);
}
.cards-grid .card {
    border: var(--br-grey-1);
    border-radius: var(--br-1);
    /*padding: var(--gap-md);*/
}
.cards-grid .card .images-container {
    display: grid;
    padding: var(--gap-sm);
    background-color: var(--color-offwhite-1);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /*gap: var(--gap-sm);*/
}
.cards-grid .card .images-container .image {
    max-width: 300px;
}
.cards-grid .card .images-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*About*/
footer {
    color: var(--color-white);
    padding: var(--gap-md) 1rem var(--gap-lg) 1rem;
    background-color: var(--color-grey-4);
    display: flex;
}
.about-container {
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}
.about-container .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.about-container .right-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-primary);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}
.about-container .right-about .about-item .abt-text .small-text {
    /*padding-left: 3rem;*/
    position: relative;
    /*text-transform: uppercase;*/
    font-size: 1.2rem;
    color: var(--color-grey-1);
    /*letter-spacing: 2px;*/
}

.about-container .left-about {
    padding-right: 5rem;
}
.about-container .left-about p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1);
}
.about-container .left-about h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

.about-stats {
    padding-bottom: 4rem;
}
.about-stats .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
    display: flex;
    flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
    text-transform: uppercase;
    font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
    display: flex;
    align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
    color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
    width: 100%;
    height: 0.45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transition: all 0.4s ease-in-out;
    width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
    width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
    width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .js {
    width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
    width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
    width: 87%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
    width: 70%;
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
}
.stat-title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
}

/*Timeline*/
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
}
.timeline .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
    position: absolute;
    left: -27px;
    top: 0;
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline .timeline-item .tl-icon i {
    font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
    padding: 0.2rem 0.6rem;
    background-color: var(--color-grey-5);
    border-radius: 15px;
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}
.timeline .timeline-item h5 {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}
.timeline .timeline-item h5 span {
    color: var(--color-grey-2);
    font-weight: 500;
    font-size: 1.2rem;
}
.timeline .timeline-item p {
    color: var(--color-grey-2);
}

.port-text {
    padding: 2rem 0;
    text-align: center;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}
.blogs .blog {
    position: relative;
    background-color: var(--color-grey-5);
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}
.blogs .blog:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.blogs .blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}
.blogs .blog .blog-text {
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 8px solid var(--color-primary);
}
.blogs .blog .blog-text h4 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.blogs .blog .blog-text h4:hover {
    color: var(--color-primary);
}
.blogs .blog .blog-text p {
    color: var(--color-grey-2);
    line-height: 2rem;
    padding-bottom: 1rem;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.contact-icons a {
    display: flex;
    align-items: center;
    color: var(--color-grey-4);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    border-radius: var(--br-1);
    margin: 0 0.4rem;
    padding: .7rem;
}
.contact-icons a:hover {
    background-color: var(--color-primary);
}
.contact-icons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.contact-icons a span {
    margin-left: .5rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 20px 1fr;
    margin-top: var(--gap-md);
    column-gap: 3px;
}

.contact-info i {
    transform: translateY(4px);
}

/* Independent Components */
.btn-con {
    margin-top: var(--gap-md);
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 30px;
    color: var(--color-primary);
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-primary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: .75rem 1rem;
    overflow: hidden;
    background-color: var(--color-primary);
}
.btn .btn-text {
    padding: 0 2rem;
}
.btn .btn-icon {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}
/*.btn::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    transform: translateX(100%);*/
/*    transition: all 0.4s ease-out;*/
/*    z-index: -1;*/
/*}*/
.btn:hover {
    transition: all 0.4s ease-out;
}
.btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform: translateX(0);
    transition: all 0.4s ease-out;
}
.secondary-btn {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    margin: 0 1rem;
}

a {
    color: var(--color-primary);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main-title {
    text-align: center;
}
.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
.main-title h2 span {
    color: var(--color-primary);
}
.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}

.secondary-title {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
}


.about-container .left-about p {
    padding-left: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    min-height: 40vh;
    border: 1px solid rgb(202,202,213);
    /*padding: 1.5rem .85rem;*/
    box-shadow: var(--box-shadow-2);
}

.carousel .slides {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.carousel .slide {
    opacity: 0;
    transition: 400ms opacity ease-in-out;
    transition-delay: 100ms;
    position: absolute;
    background-color: rgb(248,247,242);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card .slide {
    height: 80%;
}

.carousel .slide[data-active] {
    opacity: 1;
}

.carousel .slide .caption-container {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    max-width: 400px;
    font-size: .9rem;
    background-color: var(--color-white);
}

.carousel .slide .image-container {
    height: 100%;
    width: 50%;
    /*background-color: rgb(248,247,242);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .slide img {
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.carousel .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(45,47,49);
}

.carousel .btn.left {
    left: 0.2rem;
}

.carousel .btn.right {
    right: .2rem;
}
.btn {
    display: flex;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    justify-content: center;
    margin: 0 0.4rem;
    z-index: 1;
}

.btn.secondary {
    background: var(--color-white);
    color: var(--color-primary);
}

.btn:hover, .btn.secondary:hover {
    opacity: 0.8;
}

.u-highlight {
    color: var(--color-primary);
}

.u-text-center {
    text-align: center;
}

.u-text-small {
    font-size: .8rem;
}

@media screen and (max-width: 600px) {
    header {
        padding: 0 !important;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        /*grid-template-columns: repeat(1, 1fr);*/
        padding-bottom: 6rem;
    }

    .left-header .h-shape {
        display: none;
    }

    .right-header {
        /*grid-row: 1;*/
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
    }
    .right-header .name {
        font-size: 2.5rem !important;
        /*text-align: center;*/
        /*padding-top: 3rem;*/
    }

    .header-content .left-header .image {
        margin: 0 auto;
        /*width: 90%;*/
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
    }
    .controls .control {
        margin: 1rem 0.3rem;
    }

    .about-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2.5rem;
    }
    .about-container .left-about {
        padding-right: 0;
    }
    .about-container .left-about p {
        padding-left: 0;
    }

    .timeline {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .container {
        padding: 2rem 2.5rem !important;
    }

    .about-stats .progress-bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolios {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .contact-content-con {
        flex-direction: column;
    }
    .contact-content-con .right-contact {
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact {
        margin-bottom: 6rem;
    }

    .contact-item {
        flex-direction: column;
        margin: 1rem 0;
    }
    .contact-item p {
        font-size: 15px;
        color: var(--color-grey-2);
    }
    .contact-item span {
        font-size: 15px;
    }
    .contact-item .icon {
        grid-template-columns: 25px 1fr;
    }

    .main-title h2 {
        font-size: 2rem;
    }
    .main-title h2 span {
        font-size: var(--gap-md);
    }
    .main-title h2 .bg-text {
        font-size: var(--gap-md);
    }
}
@media screen and (max-width: 1432px) {

    .container {
        padding: 7rem 11rem;
    }

    .contact-content-con {
        flex-direction: column;
    }
    .contact-content-con .right-contact {
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact {
        margin-bottom: 6rem;
    }

    .main-title h2 .bg-text {
        font-size: 5.5rem;
    }
}
@media screen and (max-width: 1250px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6rem;
    }

    .portfolios {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-content .right-header {
        padding-right: 7rem;
    }
}
@media screen and (max-width: 660px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolios {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1070px) {
    .about-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
        padding-top: 2.5rem;
    }

    .main-title h2 {
        font-size: 2rem;
    }
    .main-title h2 span {
        font-size: 4rem;
    }
    .main-title h2 .bg-text {
        font-size: 4.5rem;
    }

    /*.right-header {*/
    /*    padding: 7rem;*/
    /*}*/
}
@media screen and (max-width: 970px) {
    .nav-items {
        width: 100%;
    }
    .container {
        padding: 7rem 6rem;
    }

    .about-container .left-about {
        padding-right: 0rem;
    }

    .header-content {
        /*grid-template-columns: repeat(1, 1fr);*/
        padding-bottom: 6rem;
    }

    .left-header {
        /*margin-top: 7rem;*/
        /*height: 23rem;*/
    }

    .left-header .h-shape {
        display: none;
    }
    .left-header .image {
        /*width: 90% !important;*/
        margin: 0 auto !important;
    }

    .header-content {
        /*flex-direction: column;*/
    }

    .right-header {
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
    }
    .right-header .name {
        font-size: 2.5rem !important;
        /*text-align: center;*/
        /*padding-top: 3rem;*/
    }
}
@media screen and (max-width: 700px) {
    .container {
        padding: 7rem 3rem;
    }

    .about-stats .progress-bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-container .right-about {
        grid-template-columns: repeat(1, 1fr);
    }

    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-title h2 {
        font-size: 3rem;
    }
    .main-title h2 span {
        font-size: 3rem;
    }
    .main-title h2 .bg-text {
        font-size: 4rem;
    }
}