* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-white: #FFFFFF;
    --color-primary: #f0b70f;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: rgb(249,250,252);
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
    --color-offwhite-1: rgb(248,247,242);
    --br-1: .5rem;
    --br-grey-1: rgb(230,231,235) 1px solid;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.1);
    --box-shadow-2: 0 3px 15px rgba(0,0,0,.05);
    --gap-sm: 1.15rem;
    --gap-md: 2.3rem;
    --gap-lg: 4.6rem;
}

body {
    background-color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-grey-4);
    transition: all 0.4s ease-in-out;
}

.main-content {
    /*margin: auto;*/
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}


.header {
    color: var(--color-grey-4);
    padding: 0 !important;
}

.header .carousel-container {
    margin-top: var(--gap-lg);
}

section {
    padding: 4.6rem;
    background-color: var(--color-white);
}

.marker {
    min-height: 80px;
}

.container {
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.work {
    background: var(--color-grey-3);
}

.active {
    display: block;
    transform: translateY(0) scaleY(1);
    animation: appear .5s ease-in-out;
}
@keyframes appear {
    0% {
        transform: translateY(-100%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

nav {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color-white);
    border-bottom: 1px solid rgb(202,202,213);
    position: sticky;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 var(--gap-md);
}

.nav-items .logo img {
    max-width: 100px;
    margin: .85rem;
}

.nav-items .controls {
    top: 0;
    display: flex;
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
    text-align: center;
}

.controls .control i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
    margin-left: .75rem;
}

.controls .active-btn {
    font-weight: bold;
}
.controls .active-btn i {
    color: inherit;
}

.theme-btn {
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}
.theme-btn:active {
    transform: translateY(-3px);
}
.theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

/*Header-content*/
.header {
    margin: 5rem auto;
    text-align: center;
}
.header .tagline-container .tagline {
    font-size: 3rem;
}
.header .tagline-container i {
    margin-right: .5rem;
}
.header .tagline-container p {
    margin-top: 1rem;
}
.header .tagline span {
    color: var(--color-primary);
}
.header .right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
}

.profile-photo {
    border-radius: 100%;
    width: 225px;
    height: 225px;
    margin: var(--gap-md) 0;
    background-color: var(--color-black);
    transition: all 0.4s ease-in-out;

}
.profile-photo img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    filter: grayscale(10%);
}

/* Work */
.work .disclaimer {
    opacity: 0.7;
}
.work .item {
    width: 100%;
    border-radius: var(--br-1);
    background: var(--color-white);
    box-shadow: var(--box-shadow-2);
    margin-top: var(--gap-md);
}

.work .item .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--gap-md);
}

.work .item .details-container {
    padding: 0 var(--gap-md);
}

.work .item .details-container h3 {
    margin-top: var(--gap-sm);
}

.cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--gap-md);
}
.cards-grid .card {
    border: var(--br-grey-1);
    border-radius: var(--br-1);
    /*padding: var(--gap-md);*/
}
.cards-grid .card .images-container {
    display: grid;
    padding: var(--gap-sm);
    background-color: var(--color-offwhite-1);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /*gap: var(--gap-sm);*/
}
.cards-grid .card .images-container .image {
    max-width: 300px;
}
.cards-grid .card .images-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*About*/
.about {
    color: var(--color-white);
    padding: var(--gap-md) 1rem var(--gap-lg) 1rem;
    background-color: var(--color-grey-4);
    display: flex;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.contact-icons a {
    display: flex;
    align-items: center;
    color: var(--color-grey-4);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    border-radius: var(--br-1);
    margin: 0 0.4rem;
    padding: .7rem;
}
.contact-icons a:hover {
    background-color: var(--color-primary);
}
.contact-icons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.contact-icons a span {
    margin-left: .5rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 20px 1fr;
    margin-top: var(--gap-md);
    column-gap: 3px;
}

.contact-info i {
    transform: translateY(4px);
}

/* Independent Components */
.btn-con {
    margin-top: var(--gap-md);
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 30px;
    color: var(--color-primary);
    font-weight: 600;
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: .75rem 1rem;
    overflow: hidden;
    background-color: var(--color-primary);
}
.btn .btn-text {
    padding: 0 2rem;
}
.btn .btn-icon {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.btn:hover {
    transition: all 0.4s ease-out;
}
.btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform: translateX(0);
    transition: all 0.4s ease-out;
}
.secondary-btn {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    margin: 0 1rem;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main-title {
    text-align: center;
}
.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
.main-title h2 span {
    color: var(--color-primary);
}
.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}

.secondary-title {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
}


.about-container .left-about p {
    padding-left: 0;
}

/* Components */

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    min-height: 45vh;
    border: 1px solid rgb(202,202,213);
    /*padding: 1.5rem .85rem;*/
    box-shadow: var(--box-shadow-2);
}

.carousel .slides {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.carousel .slide {
    opacity: 0;
    transition: 400ms opacity ease-in-out;
    transition-delay: 100ms;
    position: absolute;
    background-color: rgb(248,247,242);
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.card .slide {
    height: 80%;
}

.carousel .slide[data-active] {
    opacity: 1;
    z-index: 5;
}

.carousel .slide .caption-container {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    max-width: 400px;
    font-size: .9rem;
    background-color: var(--color-white);
}

.carousel .slide .image-container {
    height: 100%;
    /*width: 50%;*/
    /*background-color: rgb(248,247,242);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .slide img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(45,47,49);
}

.carousel .btn.left {
    left: 0.2rem;
}

.carousel .btn.right {
    right: .2rem;
}

@media (min-width: 1500px) {
    .nav-items, section, .carousel-container {
        /*max-width: 1300px;*/
    }
    section {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    section {
        /*padding: var(--gap-sm);*/
    }
    .carousel {
        min-height: 65vh;
    }
    .carousel .slide {
        flex-direction: column;
    }
    .carousel .slide .image-container {
        height: 70%;
    }
    .work .item .content {
        grid-template-columns: 1fr;
    }
    .work .item .content .carousel {
        min-height: 30vh;
    }
    .work .item .carousel .slide .image-container {
        height: 100%;
    }
    .work .item .details-container {
        margin-top: var(--gap-md);
        padding: 0;
    }
}

@media (max-width: 760px) {
    section {
        padding: var(--gap-sm);
    }
}

@media (max-width: 515px) {
    .carousel .slide .image-container {
        width: 90%;
    }
    .carousel .slide .image-container img {
        height: unset;
        width: 100%;
    }
    .work .item .carousel .slide .image-container img {
        max-height: 100%;
        width: 100%;
    }
}

.btn {
    display: flex;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    justify-content: center;
    margin: 0 0.4rem;
    z-index: 6;
}

.btn.secondary {
    background: var(--color-white);
    color: var(--color-primary);
}

.btn:hover, .btn.secondary:hover {
    opacity: 0.8;
}

/* Utility Classes */

/* FONT & TEXT */
.u-highlight {
    color: var(--color-primary);
}

.u-text-center {
    text-align: center;
}

.u-text-small {
    font-size: .85rem;
}

.u-text-bold {
    font-weight: bold;
}

/* LAYOUT */
.u-mt-sm {
    margin-top: var(--gap-sm);
}

.u-pad-sm {
    padding: var(--gap-sm);
}