.tab {
  text-decoration: none;
  padding: var(--padding);
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.tab:hover {
  background: var(--primary-yellow__hover);
  border-radius: 10px;

  /* border-radius: 30px 30px 0 0; */
}

.btn {
  border: 1px solid var(--primary-yellow);
  cursor: pointer;
  padding: var(--padding);
  margin: var(--margin-small);
  background-color: var(--primary-yellow);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.btn:hover {
  background: var(--primary-yellow__hover);
  border-radius: 10px;
}

.btn-wrapper {
  margin: var(--margin-medium);
}
