.text-wrapper {
  padding: var(--padding);
  min-width: 330px;
  width: 50%;
  margin-top: 10vh;
  /* background-color: yellow; */
}

.text-header {
  margin-top: var(--margin-small);
}

.img-wrapper {
  width: 30vw;
  margin-top: 5vh;
}

@media (max-width: 600px) {
  .img-wrapper {
    width: 75vw;
    margin-top: 2vh;
  }

  .text-wrapper {
    padding: 0;
  }

  .text-header {
    margin: 0;
  }
}
