.text-wrapper {
  padding: var(--padding);
  min-width: 400px;
  width: 50%;
  /* background-color: yellow; */
}

.text-header {
  margin-top: calc(var(--margin-large));
}

.img-wrapper {
  width: 25vw;
}

img {
  width: 100%;
  border-radius: 200px;
  padding: var(--padding);
}

@media (max-width: 600px) {
}
