.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding);
  align-items: center;
  /* background-color: grey; */
  height: 90px;
}

.logo-wrapper {
  width: 250px;
  margin: var(--margin-medium) 0 0 var(--margin-medium);
  /* background-color: yellow; */
}

.logo {
  width: 100%;
}

.tabs-wrapper {
  list-style-type: none;
  display: flex;
  margin: var(--margin-small) var(--margin-small) 0 0;
}

.active-tab {
  background-color: var(--primary-yellow);
  border-radius: 30px 30px 0 0;
  /* box-shadow: 12px 12px 2px 1px rgb(var(--primary-yellow)); */
}

@media (max-width: 600px) {
  .logo-wrapper {
    display: none;
  }

  .navbar {
    padding: 0;
    justify-content: center;
  }

  .tabs-wrapper {
    margin: 0;
  }
}
