/* LAYOUT */
/* Dimensions */
.u-full-width {
    width: 100%;
}

/* Margins */
.u-mt-xs {
    margin-top: var(--gap-xs);
}
.u-mt-sm {
    margin-top: var(--gap-sm);
}
.u-mt-md {
    margin-top: var(--gap-md);
}
.u-mb-sm {
    margin-bottom: var(--gap-sm);
}
.u-mb-md {
    margin-bottom: var(--gap-md);
}
.u-ml-xs {
    margin-left: var(--gap-xs);
}
.u-ml-sm {
    margin-left: var(--gap-sm);
}

/* Padding */
.u-pad-xs {
    padding: var(--gap-xs);
}
.u-pad-sm {
    padding: var(--gap-sm);
}
.u-pad-md {
    padding: var(--gap-md);
}


.u-bs-2 {
    box-shadow: var(--box-shadow-2);
}

/* Flex */
.u-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.u-flex-align-center {
    display: flex;
    align-items: center;
}
.u-flex-around {
    display: flex;
    justify-content: space-around;
}

/* Grid */
.u-grid {
    display: grid;
}
.u-grid.u-justify-center {
    justify-items: center;
}
.u-grid.u-gap-xs {
    gap: var(--gap-xs);
}
.u-grid[columns="auto"] {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.u-grid[columns="2"] {
    grid-template-columns: 1fr 1fr;
}
.u-grid[columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}
.u-grid[columns="5"] {
    grid-template-columns: repeat(5, 1fr);
}